Validaci√≥n con datos generados sint√©ticamente
=============================================

<div class="admonition warning">PRECAUCI√ìN üò±: El tema presentado en esta secci√≥n est√° clasificado como avanzado. El entendimiento de este contenido es totalmente opcional.</div>

No siempre es sencillo tener acceso a repositorios de datos que sean lo suficientemente grandes y con valores realistas (como ser nombre, edad, direcci√≥n, fecha de nacimiento, sexo, etc). Disponer de estos conjuntos de datos es √∫til no solo para aquellas personas que desean probar diferentes t√©cnicas o modelos de aprendizaje autom√°tico, sino que tambi√©n son muy interesantes para validadores de software (testers) que les gustar√≠a tener un conjuntos de datos arbitrariamente grande (aunque con datos ficticios) sobre los cuales ejecutar pruebas de calidad de los modelos de aprendizaje que otros desarrolladores crearon. Esto facilita la posibilidad de probar determinados casos de borde sin necesidad de modificar datos manualmente ni tener que crear de forma artesanal conjuntos de datos para las validaciones.

## Sobre los datos sint√©ticos

Los conjuntos de datos sint√©ticos son conjuntos de datos generados a traves de procesos artificiales con el proposito de mantener la privacidad de los datos originales, realizar validaciones de un sistema o pruebas de carga o simplemente verificar un modelo de aprendizaje autom√°tico. En general, los datos sint√©ticos se generan de tal forma que "imitan" la distribuci√≥n o representaci√≥n de un conjunto de datos real, pero sin necesidad de revelar ning√∫n detalle del conjunto de datos original. En algunos casos puede ser que los datos generados sint√©ticamente no tengan el mismo valor que los datos reales, pero existen muchos otros casos donde pueden tener incluso el mismo valor. Muchos modelos de aprendizaje autom√°tico son entrenados con datos generados sint√©ticamente.

Las generaci√≥n de datos sint√©ticos se utiliza incluso durante el proceso de entrenamiento de modelos, con t√©cnicas como `SMOTE` que permiten correjir el balance de clases en conjuntos de datos desbalanceados. Sin embargo, en esta secci√≥n no nos centraremos en tales t√≠pos de t√©cnicas.

## T√©cnicas para la generaci√≥n de datos sint√©ticos

Existen multiples t√©cnicas para la generaci√≥n de datos sint√©ticos dependiendo de los requerimientos de negocio y de las caracter√≠sticas de los conjuntos de datos que estamos buscando.

### Generarlos desde distribuciones conocidas

Aunque en la pr√°ctica no es el caso m√°s habitual, puede ser que conoscamos la distribuci√≥n de los datos que necesitamos, como ser una distribuci√≥n normal, exponencial, binomial, etc. En tales casos, muchas librer√≠as de aprendizaje autom√°tico nos permiten generar conjuntos de datos de tama√±os arbitrales que se condicen con estas distribuciones.

### Utilizando librer√≠as esp√©cificas

Existen librer√≠as espec√≠ficas para generar conjuntos de datos sint√©ticos en m√∫ltiples lenguajes. En `Python`, librer√≠as como las siguientes pueden ser utilizadas:

 - **faker**: Es una librer√≠a que no solo permite la generaci√≥n de tipos de datos simples, sino que tambi√©n datos como nombres, direcciones, tel√©fonos o correos electr√≥nicos.
 - **SymPy:** Es una liber√≠a de alta performance que permite generar datos a traves de expresiones simb√≥licas.
 - **PyDBGen:** Es una librer√≠a que permite generar datos categ√≥ricos localizados (localized) para diferentes paises e idiomas. Puede generar conjuntos de datos tanto en archivos como csv o txt como directamente en tablas de bases de datos.
 - **mimesis:** Es una librer√≠a similar a faker, aunque provee multiples formas de extender sus funcionalidades.

### Utilizando modelos generativos

Modelos generativos, como son `Variational Autoencoders (VAE)` o `Generative Adversarial Networks (GAN)` puede generar datos sint√©ticos con un nivel de detall√© importante. Muchas t√©cnicas de aumento de datos (data augmentation) descansan en este tipo de modelos.

## Ejemplos

### Mimesis

`Mimesis` es una liber√≠a de Python que permite generar conjuntos de datos sint√©ticos. `Mimesis` no solo permite la generaci√≥n de tipos de datos simples, sino que tambi√©n puede generar datos como nombres, direcciones, tel√©fonos o direcciones de correo electr√≥nico. Esta informaci√≥n la puede generar para diferentes `locations` incluyendo el idioma Espa√±ol. Lamentablemente, no dispone de una implementaci√≥n espec√≠fica para Argentina, siendo las variaciones m√°s aproximadas las de Mexico (es-MX) o Espa√±a (es-ES). `Mimesis` es extensible, lo que significa que si existe un tipo de dato que no es soportado actualmente, se lo puede implementar para que la librer√≠a lo genere. Es ampliamente utilizado por la comunida de c√≥digo abierto por lo que existen multiples extensiones ya creadas.

Para m√°s informaci√≥n sobre `Mimesis` puede [revisar la documentaci√≥n oficial](https://mimesis.name/getting_started.html).

```
    !pip install mimesis
```

In [ ]:
import mimesis
import mimesis.schema

person = mimesis.Person(mimesis.locales.ES)
numbers = mimesis.Numbers()

Por ejemplo, si quisieramos generar un nombre de una persona generalmente asociado a sexo femenino, podr√≠amos hacer los siguiente:

In [ ]:
print(person.full_name(gender=mimesis.enums.Gender.FEMALE))

Nieves Molina

De forma similar, podriamos generar la edad de una persona mayor a 21 a√±os como sigue:

In [ ]:
print(numbers.integer_number(start=21, end=100))

42

Esta libreria nos permite generar conjuntos completos de datos de forma r√°pida indicando un **esquema de datos**. En el siguiente ejemplo, crearemos un conjunto de datos con varios campos, para luego construir un `DataFrame` de `Pandas`:

In [ ]:
field = mimesis.schema.Field(mimesis.locales.ES)
description = (
    lambda: {
        'id': field('uuid'),
        'creator': field('full_name', gender=mimesis.enums.Gender.FEMALE),
        'age': field('integer_number', start=21, end=100),
        'timestamp': field('timestamp', posix=False),
        'word': field('text.word'),
        'email': field('person.email', domains=['outlook.com', 'gmail.com', 'yahoo.com'], key=str.lower),
    }
)

sample_schema = mimesis.schema.Schema(schema=description)

Creamos un `Pandas.DataFrame` con 100 muestras:

In [ ]:
import pandas as pd

pd.DataFrame(sample_schema.create(iterations=100))

,id,creator,age,timestamp,word,email
0,f911a207-20db-498b-b320-7ca15c929d2a,Ver√≥nica Lozano,91,2017-05-04T04:26:33Z,acabar,hemoglobin1812@outlook.com
1,5bb2df8f-d69f-407e-afe5-8f227045d5b4,Mirella Romero,83,2013-07-19T01:02:47Z,encontraste,dunderhead1969@outlook.com
2,14764b8e-8c86-49de-aa79-e07ca8e83c97,Carlota Pardo,70,2008-03-23T10:45:09Z,vieron,against1985@yahoo.com
3,74724ede-9352-4bba-9be2-7bf371d94dd9,Adriana Marcos,32,2002-10-10T17:18:18Z,quienes,bromes1961@gmail.com
4,b2ad7694-5a76-4de9-a1b7-d3abb8036c5d,Rosal√≠a Sanchez,23,2013-03-08T18:57:53Z,perdone,annalisa1948@yahoo.com
...,...,...,...,...,...,...
95,082accf3-2888-4a37-8e78-8f99be8592f1,Caro Calvo,59,2019-02-15T18:02:11Z,pel√≠culas,enormously1963@outlook.com
96,57de2f47-679e-4198-9d82-73ac9c64f0f8,Desamparados Reyes,22,2018-05-02T19:11:48Z,elecci√≥n,collodion1986@yahoo.com
97,6c265624-64b4-4d96-b7f9-a91551a1ff73,Isa Ramos,45,2012-10-08T21:24:42Z,tranquila,behead1853@outlook.com
98,b10aad55-b3bf-405b-ab8b-46789a08e43a,Nerea Lopez,45,2007-10-11T11:46:18Z,lados,mischieve1984@outlook.com
99,d3e6b6d8-2805-4bcc-a642-4411cf8e1a90,Alexandra Hernandez,61,2018-06-04T21:35:46Z,subir,scams1832@outlook.com

### CTGAN

CTGAN es un t√©cnica que ha ganado popularidad ya que se basa en la arquitectura GAN para modelar datos tabulares y muestrear filas condicionalmente a partir de un modelo generado especificamente para crear datos sint√©ticos. Al momento, esta representa una de las t√©cnicas m√°s avanzadas para la generaci√≥n de datos sint√©ticos.

[Xu, Lei and Skoularidou, Maria and Cuesta-Infante, Alfredo and Veeramachaneni, Kalyan. Modeling Tabular data using Conditional GAN. Advances in Neural Information Processing Systems. 2019](https://arxiv.org/abs/1907.00503)

Para demostrar como realizar validaciones utilizando conjunto de datos sint√©ticos, trabajaremos con el conjunto de datos de 'Pima Indians Diabetes Database' (https://www.openml.org/d/37), proveniente originalmente del National Institute of Diabetes and Digestive and Kidney Diseases. El objetivo del conjunto de datos es el de predecir si un paciente tiene o no diabetes, basado en ciertas mediciones que se incluyen. Este conjunto es interesante para esta demostraci√≥n porque tiene varias restricciones en cuanto a como se recolectaron los datos. En particular, todos los pacientes son de sexo femenino, de al menos 21 a√±os y de ascendencia india Prima.

```
pip install ctgan
```

In [ ]:
import pandas as pd
import sklearn.datasets as datasets

data = datasets.fetch_openml(name='diabetes', version=1)
df = pd.DataFrame(data['data'], columns=data['feature_names'])
df['target'] = data['target'].astype('object')

Veamos como luce el conjunto de datos

In [ ]:
df.head(10)

   preg   plas  pres  skin   insu  mass   pedi   age           target
0   6.0  148.0  72.0  35.0    0.0  33.6  0.627  50.0  tested_positive
1   1.0   85.0  66.0  29.0    0.0  26.6  0.351  31.0  tested_negative
2   8.0  183.0  64.0   0.0    0.0  23.3  0.672  32.0  tested_positive
3   1.0   89.0  66.0  23.0   94.0  28.1  0.167  21.0  tested_negative
4   0.0  137.0  40.0  35.0  168.0  43.1  2.288  33.0  tested_positive
5   5.0  116.0  74.0   0.0    0.0  25.6  0.201  30.0  tested_negative
6   3.0   78.0  50.0  32.0   88.0  31.0  0.248  26.0  tested_positive
7  10.0  115.0   0.0   0.0    0.0  35.3  0.134  29.0  tested_negative
8   2.0  197.0  70.0  45.0  543.0  30.5  0.158  53.0  tested_positive
9   8.0  125.0  96.0   0.0    0.0   0.0  0.232  54.0  tested_positive

In [ ]:
import warnings

warnings.filterwarnings("ignore")

Entrenemos un modelo basado en la arquitectura de CTGAN para generar sint√©ticamente instancias pertenecientes a este conjunto de datos. Preste especial atenci√≥n a los valores especificados en la variable `discrete_columns` donde indicamos aquellas variables que son categoricas. Las restantes variables ser√°n consideradas como continuas.

In [ ]:
from ctgan import CTGAN

discrete_columns = ['preg', 'age', 'target']

ctgan = CTGAN(epochs=5)
ctgan.fit(df, discrete_columns)

In [ ]:
ctgan.sample(10)

,preg,plas,pres,skin,insu,mass,pedi,age,target
0,13.0,150.338320,53.867890,12.944341,90.059803,26.226618,0.113579,67.0,tested_negative
1,4.0,117.313044,82.688660,-2.491095,137.325798,35.191623,0.316042,21.0,tested_negative
2,5.0,66.751833,56.931028,10.375996,587.707755,7.666986,0.177905,25.0,tested_negative
3,7.0,57.937555,46.173001,6.458123,219.293166,22.221524,0.298188,58.0,tested_positive
4,5.0,100.383372,54.295135,9.339084,-6.013251,27.358455,0.129723,58.0,tested_positive
5,10.0,103.097452,47.986939,28.858796,-7.724785,37.450783,0.986625,47.0,tested_negative
6,12.0,110.680031,84.606791,5.562472,150.319741,42.001990,0.484405,29.0,tested_negative
7,3.0,-41.313012,61.943142,14.605698,9.805898,10.410850,0.207731,25.0,tested_negative
8,6.0,174.285565,50.677725,10.618748,62.151391,42.338222,1.049532,63.0,tested_negative
9,0.0,133.058005,62.112425,-3.467269,18.378402,51.311422,0.035859,27.0,tested_positive

.. note:: Note que variables como `age` y `preg` que representan la edad de la persona y la cantidad de veces que ha estado embarazada fueron configuradas como variables categoricas. Esto permite que nuestro modelo 1) no genere valores continuos, como ser 20.5 para la edad, y 2) que no utilice valores que se encuentren fuera de los valores que ya existen en el conjunto de datos. En algunos casos, sobre todo considerando escenarios de testing, este comportamiento podr√≠a no ser el deseado.